body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
  }
  
  canvas {
    border: 2px solid #fff;
    margin-bottom: 20px;
  }
  
  #controls {
    display: flex;
    gap: 20px;
    background:  #333;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #startBtn {
    background-color: #4CAF50;
    color: white;
  }
  
  #stopBtn {
    background-color: #f44336;
    color: white;
  }
  